@import url(./cdn.css);
@import url(./awesome.css);
@import url(./pricing.css);
@import url(./customers.css);
@import url(./axure.css);
@import url(./header.css);
@import url(./titular.css);
@import url(./social-icons.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);
@import url(./footer.css);

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', 'Raleway', sans-serif;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
}

.download {
    width: 135px;
    height: 42px;
    border: 1px solid #FFFFFF;
    padding: 11px;
    margin: auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    max-width: 670px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

.title::after {
    content: '';
    width: 64px;
    height: 2px;
    background-color: #E72424;
    display: block;    
    margin: auto;
    margin-top: 34px;
    margin-bottom: 34px;
}
