.axure {
    padding: 3.625rem 0 2.375rem;
    background-image: url('../img/axure-img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.axure-container {
    max-width: 73.125rem;
    padding: 0 0.9375rem;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
}

.axure::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('../img/axure-img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: rgba(0, 0, 0, 0.55);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.title-axure {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.625rem;
    color: #FFFFFF;
    max-width: 41.875rem;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

.title-axure::after {
    content: '';
    width: 4rem;
    height: 2px;
    background-color: #FFFFFF;
    display: block;    
    margin: auto;
    margin-top: 2.125rem;
    margin-bottom: 2.125rem;
}

.axure-description {
    max-width: 48.6875rem;
    margin: auto;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.1875rem;
    text-align: center;
    margin-bottom: 3.5625rem;
}

.axure-download {
    width: 8.4375rem;
    height: 2.625rem;
    margin: auto;
    transition: 1s;
}

.axure-download a {
    color: #FFFFFF;
    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid #FFFFFF;
    padding: 11px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 20px;
}

.axure-download:hover {
    transform: scale(1.2);
    background-color: #EC7979;
} 